#body{
    background-image: url("infernumTheme.jpg");
    background-size: cover;
}

#LHead{
    display: flex;
    justify-content: center;
}

#Logo{
    transform: rotate(10deg);
    height: 200px;
    padding-bottom: 30px;
}

#BHead{
    display: flex;
    justify-content: center;
}

#Menu{
    display: grid;
    justify-content: center;
    width: 300px;
    height: 350px;
}

#FHead{
    position: fixed;
    bottom: 0;
    align-items: end;
    justify-content:space-between;
    display:flex;
    height: 133px;
    width: 100%; 
}

#Tree{
    background-size: cover;
    width: 40px;
}

#Sources{
    width: 33%;
}

#MSwitch{ 
    justify-content: center;
    display: flex;
    width: 33%; 
}

#Version{
    display: flex;
    justify-content: end;
    width: 33%;
}


.MenuA{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black,0px 0px 4px black;
    color:gray;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.MenuA:hover{
    color: yellow;
    font-size: 35px;
    transition: 0.5s;
}

.MenuA:not(:hover){
    color: rgb(191, 178, 178);
    font-size: 25px;
    transition: 0.3s;
}

#SwitchA{
    text-align: center;
    color:rgb(191, 178, 178) ;
}

#SwitchA:hover{
    cursor: pointer;
    color: rgb(200, 200, 4);
}

#VersionA{
    text-decoration: none;
    color:rgb(216, 216, 216) ;
    font-size: 20px;
}

#VersionA:hover{
    cursor: pointer;
    color:rgb(200, 200, 4);
}